---
import '../styles/global.css';
import Menu from '../components/Menu.astro';

// TODO: Colors
// TODO: Accessibility
// TODO: Rss feed

const baseTitle = 'Jaroslav Pavlíček';
const providedTitle = Astro.props.title || Astro.props.frontmatter?.title;
const title = providedTitle
	? `${baseTitle} | ${providedTitle}`
	: baseTitle;

const description = Astro.props.description
	|| Astro.props.frontmatter?.description
	|| 'Jaroslav Pavlíček se celý svůj život zaměřuje na výzkum přežití v divočině a na soužití člověka s přírodou.';


---

<!doctype html>
<html lang="cs">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:image" content={`${Astro.site}/og/jaroslav-pavlicek.jpeg`}/>
	</head>
	<body class="font-serif">
		<div class="mx-auto w-full p-4 min-w-60 max-w-[40rem]">
			<Menu class="mb-6" pathname={Astro.url.pathname}/>
			<article class="prose max-w-none">
				<slot />
			</article>
			<footer class="my-8 text-right">
				&copy; Jaroslav Pavlíček {new Date().getFullYear()}
			</footer>
		</div>
	</body>
</html>
